.button-class {
  background-color: lightblue;
  border: darkblue;
  color: white;
  width: 300px;
  height: 100px;
  text-align: center;
  cursor: pointer;
}

li {
  list-style-type: none;
  padding-top: 5px;
  margin-left: -40px;
}
