.body-color {
  background-color: #284b72;
}

.title-color {
  color: white;
  text-align: center;
  font-size: 50px;
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255 255 255 / 59%);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(161 164 167);
}

.list-group {
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.pokemon-button {
  background-color: lightblue;
  border: darkblue;
  color: black;
  width: 250px;
  height: 100px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 75%;
  text-transform: capitalize;
}
.pokemon-list {
  padding-right: 5px;
}

li {
  display: inline;
  padding-right: 15px;
}

#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.62);
  padding: 15px;
  width: 100%;
  text-align: center;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  /* CSS for modal container - add your own desired CSS styles here */
  display: block;
}
